spaces

aiohttp
numpy
opencv-python
pillow
huggingface_hub
pyyaml

streetlevel @ git+https://github.com/YellowO2/streetlevel.git
torchvision
pillow-heif
panoramic-da3 @ git+https://github.com/YellowO2/panoramic-da3.git
